:root {
  --photo-banner-move: -3800px;
  --time-in-seconds: 10s;
}

#container {
 width: 100%;
 overflow: hidden;
}


/*photo-banner*/
.photo-banner {
  height: 400px;
  width: 2000px;
  margin-bottom: 80px;
  overflow: hidden;
}

.photo-banner img {
  height: 400px;
}

/*keyframe animations*/
.first {
 -webkit-animation: bannermove var(--time-in-seconds) linear infinite;
    -moz-animation: bannermove var(--time-in-seconds) linear infinite;
     -ms-animation: bannermove var(--time-in-seconds) linear infinite;
      -o-animation: bannermove var(--time-in-seconds) linear infinite;
         animation: bannermove var(--time-in-seconds) linear infinite;
}
 
@media screen and (max-width: 480px) {
  .photo-banner,
  .photo-banner img {
    height: 300px;
  }
}

@keyframes bannermove {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: var(--photo-banner-move);
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: var(--photo-banner-move);
 }
 
}
 
@-webkit-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: var(--photo-banner-move);
 }
 
}
 
@-ms-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: var(--photo-banner-move);
 }
 
}
 
@-o-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: var(--photo-banner-move);
 }
 
}